<template>
  <footer id="footer">
    <div class="container-fluid">
      <div class="row p-2">
        <div class="col-6">
          <a
            href="https://www.facebook.com/daniel.krul.18"
            class="text-secondary mr-2"
            target="_blank"
            rel="noreferrer"
          >Facebook</a>
          <a
            href="https://www.linkedin.com/in/daniel-kr%C5%AFl-563b2a141/"
            class="text-secondary"
            target="_blank"
            rel="noreferrer"
          >Linkedin</a>
        </div>

        <div class="col-6 text-right">
          <p class="text-secondary">© 2020 - Daniel Krůl</p>
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
#footer {
  border-top: 2px solid #eeeeee;
}
</style>