<template>
  <header id="header" class="mt-2 mb-2">
    <nav class="navbar navbar-expand-lg navbar-light">
      <router-link class="navbar-brand" to="/">
        <strong>
          <span class="logo-color">D</span>aniel
        </strong> Krůl
      </router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" :class="$route.name === 'Home' ? 'active' : ''">
            <router-link class="nav-link" to="/">O mne</router-link>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resume.pdf" target="_blank">Životopis</a>
          </li>
          <li class="nav-item" :class="$route.name === 'Blog' ? 'active' : ''">
            <router-link class="nav-link" to="/blog">Blog</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<style lang="scss" scoped>
#header {
  .navbar {
    .logo-color {
      color: #c0392b;
    }

    .nav-item {
      margin-right: 20px;
    }
  }
}
</style>