<template>
  <div id="app">
    <div class="container-fluid">
      <Header />
      <router-view />
    </div>
    <Footer />
  </div>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.75em;
}

p {
  margin: 0 !important;
}

h4 {
  font-size: 16px !important;
}
</style>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "App",
  components: {
    Header,
    Footer
  }
};
</script>
