<template>
  <div id="blog" class="ml-5 mr-5 mb-5">
    <div class="section-title pt-4 pb-4">
      <h2>Blog</h2>
    </div>
    <div class="content">
      <div class="blog-items">
        <div class="row">
          <div class="col-6 item" v-for="(article, _id) in articles" :key="_id">
            <div class="img">
              <div class="category">
                <a href="#" :title="article.tag">{{ article.tag }}</a>
              </div>
              <router-link
                :to="{ name: 'Blog detail', params: { url: article.url } }"
              >
                <img
                  class="img-fluid"
                  src="https://lmpixels.com/wp/leven-wp/full-width/wp-content/uploads/sites/3/2019/12/blog_post_2_full.jpg"
                />
              </router-link>
            </div>
            <div class="mt-1 info">
              <div class="date text-muted small">
                {{ article.date | formatDate }}
              </div>
              <router-link
                :to="{ name: 'Blog detail', params: { url: article.url } }"
                class="item-title"
              >
                <h3>{{ article.title }}</h3>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";

import { ApiMixin } from "@/mixins/api";
import { mixins } from "vue-class-component";
import { Article } from "@/interfaces/article";

@Component
export default class Blog extends mixins(ApiMixin) {
  public articles!: Article[];

  async beforeMount() {
    this.articles = await this.getArticles();
  }

  data() {
    return {
      articles: this.articles
    };
  }
}
</script>

<style lang="scss" scoped>
#blog {
  .section-title {
    h2 {
      color: #333333;
      font-size: 44px;
    }
  }
  .content {
    .blog-items {
      .item {
        .info {
          .item-title {
            color: black;

            &:hover {
              text-decoration: none;
            }
          }
        }
        .img {
          position: relative;
          z-index: 2;

          .category {
            position: absolute;
            top: 12px;
            left: 12px;
            z-index: 3;

            a {
              position: relative;
              background: #fff;
              border-radius: 3px;
              padding: 3px 7px;
              line-height: 1.2em;
              font-size: 11px;
              color: #222;
            }
          }

          img {
            border-radius: 10px;
          }
        }
      }
    }
  }
}
</style>
