<template>
  <div id="detail" v-if="article" class="ml-5 mr-5 mb-5">
    <div class="section-title pt-4 pb-4">
      <div class="mb-2">
        <a href="#" class="text-muted">{{ article.tag }}</a>
      </div>
      <h1>{{ article.title }}</h1>
    </div>
    <div class="content mt-2">
      <vue-markdown>
        {{ JSON.parse(article.text) }}
      </vue-markdown>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mixins } from "vue-class-component";
import { ApiMixin } from "@/mixins/api";
import { Article } from "@/interfaces/article";

@Component
export default class Detail extends mixins(ApiMixin) {
  public article!: Article;

  async beforeMount() {
    const url = this.$route.params.url;
    this.article = await this.getArticle(url);
  }

  data() {
    return {
      article: this.article
    };
  }
}
</script>

<style lang="scss" scoped></style>
