<template>
  <div id="home">
    <div class="main-content row align-items-center d-flex">
      <div class="col-5 justify-content-end d-flex left">
        <div class="photo">
          <img src="@/assets/photo_transparent.png" width="270" alt="Daniel Krůl" />
        </div>
      </div>
      <div class="col-7 right">
        <h4 class="small-title mb-0">Softwarový konzultant</h4>
        <h1 class="big-title">Daniel Krůl</h1>
        <p class="text">
          Vytvářím komplexní webové
          <abbr title="Single-page application">SPA</abbr> aplikace v moderních technologiích a
          konzultuji s klienty to nejefektivnější řešení jejich problému.
        </p>
        <div class="buttons-group mt-2">
          <a href="#clients" class="btn btn-outline-dark mr-2 red-button">Reference</a>
          <a class="btn btn-outline-dark" href="#contact">Kontakt</a>
        </div>
      </div>
    </div>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <section id="info" class="ml-2 mr-2">
      <h2 class="underlined-title mb-4">Čím se zabývám</h2>
      <div class="what-i-do">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="info-block-w-icon">
              <div class="ci-icon">
                <i class="far fa-file-code fa-2x"></i>
              </div>
              <div class="ci-text">
                <h4>Programování</h4>
                <p>Programuji robustní a škálovatelné backend systémy v NodeJS frameworku Express a s využitím MongoDB. Nejsou mi cizí server-less systémy jako AWS nebo Google Firebase.</p>
              </div>
            </div>
            <div class="info-block-w-icon">
              <div class="ci-icon">
                <i class="fab fa-css3 fa-2x"></i>
              </div>
              <div class="ci-text">
                <h4>Kódování</h4>
                <p>Při vývoji webových aplikací využívám moderní frameworky jako Angular nebo VueJS. Samozřejmostí je pak HTML5 a CSS3 (Less, Sass).</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="info-block-w-icon">
              <div class="ci-icon">
                <i class="fas fa-chalkboard-teacher fa-2x"></i>
              </div>
              <div class="ci-text">
                <h4>Konzultace</h4>
                <p>Poskytuji klientům technickou podporu a konzultaci pro nejefektivnější řešení jejich požadavků.</p>
              </div>
            </div>
            <div class="info-block-w-icon">
              <div class="ci-icon">
                <i class="fas fa-desktop fa-2x"></i>
              </div>
              <div class="ci-text">
                <h4>Testování</h4>
                <p>Zajišťuji end-to-end a unit testy pro webové aplikace s použitím technologií Cypress a Jest.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="underlined-title mb-4">Klienti</h2>
      <div id="clients" class="mb-5">
        <div class="row text-center align-items-center">
          <div class="col-6 col-lg-4 item">
            <a rel="noreferrer" target="_blank" href="https://www.bmw.com/" title="BMW">
              <img width="55" src="@/assets/bmw.svg" alt="BMW" />
            </a>
          </div>
          <div class="col-6 col-lg-4 item">
            <a rel="noreferrer" target="_blank" href="https://www.t-mobile.cz/" title="T-Mobile">
              <img width="150" src="@/assets/t-mobile.svg" alt="T-Mobile" />
            </a>
          </div>
          <div class="col-6 col-lg-4 item">
            <a
              rel="noreferrer"
              target="_blank"
              href="https://modniosviceni.cz/"
              title="Módní osvícení"
            >
              <img width="200" src="@/assets/modni-osviceni.png" alt="Módní osvícení" />
            </a>
          </div>
          <div class="col-6 col-lg-4 item">
            <a
              rel="noreferrer"
              target="_blank"
              href="https://www.gi-de.com/"
              title="Giesecke & Devrient"
            >
              <img width="110" src="@/assets/giesecke.png" alt="Giesecke & Devrient" />
            </a>
          </div>
          <div class="col-6 col-lg-4 item">
            <a
              rel="noreferrer"
              target="_blank"
              href="http://isophi.education/"
              title="iSophi - Pedagogická diagnostika a vzdělávací nástroje pro MŠ"
            >
              <img
                width="160"
                src="@/assets/isophi.png"
                alt="iSophi - Pedagogická diagnostika a vzdělávací nástroje pro MŠ"
              />
            </a>
          </div>
        </div>
      </div>
      <h2 class="underlined-title mb-4">Kontakt</h2>
      <div id="contact">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="info-block-w-icon">
              <div class="ci-icon">
                <i class="far fa-envelope fa-2x"></i>
              </div>
              <div class="ci-text">
                <h4>info@danielkrul.com</h4>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="info-block-w-icon">
              <div class="ci-icon">
                <i class="fas fa-file-alt fa-2x"></i>
              </div>
              <div class="ci-text">
                <h4>IČO: 09161244</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Home extends Vue {
  constructor() {
    super();
  }
}
</script>

<style lang="scss" scoped>
#home {
  .main-content {
    min-height: calc(100vh - 72px);

    .left {
      img {
        max-width: 270px;
        width: 100%;
        margin-right: 15px;
        border-radius: 50%;
        border: 15px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      }
    }

    .right {
      .small-title {
        color: #aaa;
        font-size: 16px;
        font-weight: 400;
      }

      .big-title {
        font-size: 48px;
        line-height: 56px;
        margin-top: 0;
        margin-bottom: 20px;
      }

      .text {
        width: 70%;
      }

      .buttons-group {
        .red-button {
          border-color: #c0392b;

          &:hover {
            background: white;
            color: initial;
          }
        }
      }
    }
  }

  #info {
    margin-top: 50px;

    .underlined-title {
      display: inline-block;
      padding-right: 25px;
      font-size: 21px;
      position: relative;
      padding-bottom: 7px;

      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        background-color: #f5f5f5;
        height: 2px;
        bottom: 0;
      }

      &:after {
        display: block;
        position: absolute;
        content: "";
        width: 30px;
        background-color: #c0392b;
        height: 2px;
        bottom: 0;
      }
    }

    .what-i-do,
    #contact {
      h4 {
        margin-bottom: 7px;
      }

      .ci-text {
        display: table-cell;
        vertical-align: top;
        margin-left: 15px;

        p {
          font-size: 0.92em;
        }
      }

      .ci-icon {
        display: table-cell;
        padding-right: 20px;

        i,
        svg {
          color: #aaa;
        }
      }

      .info-block-w-icon {
        padding-bottom: 30px;
        padding-right: 10px;
        display: table;
        min-height: 120px !important;
      }
    }

    #clients {
      .item {
        margin-bottom: 35px;
      }
    }
  }
}
</style>
